In [32]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [33]:
df = pd.read_excel("../data/predictions.xlsx")
df = df[["proj_home_xg", "proj_away_xg", "home_xg", "away_xg", "home_goals", "away_goals"]]
df = df.dropna()
df

     proj_home_xg  proj_away_xg  home_xg  away_xg  home_goals  away_goals
0            1.34          1.91     3.53     0.84           2           1
1            1.71          1.33     2.08     0.24           2           0
2            1.52          1.25     2.62     0.46           4           0
3            1.94          0.63     2.00     0.72           3           1
4            2.17          0.86     2.45     0.94           2           1
..            ...           ...      ...      ...         ...         ...
480          0.89          0.67     1.19     1.35           1           0
481          0.83          1.26     0.89     1.10           1           1
482          1.06          1.19     0.40     1.01           0           1
483          0.59          0.77     1.21     0.00           3           1
484          1.20          1.34     0.62     2.65           3           3

[476 rows x 6 columns]

In [34]:
all_goals = pd.concat([df["home_goals"], df["away_goals"]], ignore_index=True)
all_proj = pd.concat([df["proj_home_xg"], df["proj_away_xg"]], ignore_index=True)
all_xg = pd.concat([df["home_xg"], df["away_xg"]], ignore_index=True)

# Goals vs Proj xG
print("Goals vs Proj xG")
print(f"MAE: {mean_absolute_error(all_goals, all_proj):.3f}")
print(f"RMSE: {np.sqrt(mean_squared_error(all_goals, all_proj)):.3f}")
print(f"R² Score: {r2_score(all_goals, all_proj):.3f}")

# xG vs Proj xG
print("")
print("xG vs Proj xG")
print(f"MAE: {mean_absolute_error(all_xg, all_proj):.3f}")
print(f"RMSE: {np.sqrt(mean_squared_error(all_xg, all_proj)):.3f}")
print(f"R² Score: {r2_score(all_xg, all_proj):.3f}")

# xG vs Goals
print("")
print("xG vs Goals")
print(f"MAE: {mean_absolute_error(all_goals, all_xg):.3f}")
print(f"RMSE: {np.sqrt(mean_squared_error(all_goals, all_xg)):.3f}")
print(f"R² Score: {r2_score(all_goals, all_xg):.3f}")

Goals vs Proj xG
MAE: 0.847
RMSE: 1.090
R² Score: 0.072

xG vs Proj xG
MAE: 0.598
RMSE: 0.786
R² Score: 0.158

xG vs Goals
MAE: 0.785
RMSE: 1.010
R² Score: 0.203